appdirs
brotlipy
certifi
cffi
chardet
click
cryptography
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
distlib
filelock
Flask
Flask-Compress
future
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
mkl-fft
mkl-random
mkl-service
numpy
pandas
pip
plotly
pycparser
pyOpenSSL
PySocks
python-dateutil
pytz
PyYAML
requests
retrying
setuptools
six
urllib3
virtualenv
Werkzeug
wheel
